<!DOCTYPE html>
<html>
<head>
  <title>Jobs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #FAEFBE;">


<header style="">	
<h1 style="color: red; margin: 10% 40% 10% 50%; font-family:Comic Sans MS;">
Joby
</h1>
<!--img src="assets/jobs.jpg"  style:"float: left;"/-->
</header>
</div>
<div>

<p>We Work Remotely is the best place to find and list jobs that aren’t restricted</br>
 by commutes or a particular geographic area. Find the most qualified people in the </br>
 most unexpected places: Hire remote! Follow us on Twitter @weworkremotely</p>

</div>


<%= yield %>

</body>
</html>
